@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
  font-family: "Open Sans", san-serif;
  src: url("'https://fonts.googleapis.com/css?family=Open+Sans'");
}

body,
button,
input {
  font-family: "Open Sans", san-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.test {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
